<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Laba3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Laba3.Properties.Settings>
            <setting name="hungry" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mood" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="money" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="isPet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTraining" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isMarried" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="salary" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="day" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="month" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="year" serializeAs="String">
                <value>2000</value>
            </setting>
        </Laba3.Properties.Settings>
    </userSettings>
</configuration>